@use '../../../../styles/variables' as v;

.user-filters {
  display: flex;
  align-items: center;
  gap: v.$space-3;
  flex-wrap: wrap;
}

.user-filters__field {
  width: 160px;
}

.role-select {
  width: 140px;

  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px;
  }
}
